## 데이터 분석 프로젝트 

1. 출력 값과 내용이 동일하도록 **코드를 완성** 하세요
2. 실습자료와 전자책을 활용하셔도 좋습니다.

- 전자책 링크: https://wikidocs.net/book/4639
- 공식문서: https://pandas.pydata.org/docs/reference/index.html

In [ ]:
import numpy as np
import pandas as pd
import warnings

# 경고 출력 안함
warnings.filterwarnings('ignore')

# 소수점 두째자리 미만은 반올림하여 표시
pd.options.display.float_format = '{:,.2f}'.format

- 파일 `유가정보.csv` 파일을 데이터프레임으로 로드하고 변수 `df`에 대입하세요
- 5개 행을 출력하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>번호</th>
      <th>연도</th>
      <th>월</th>
      <th>시도</th>
      <th>구</th>
      <th>상호</th>
      <th>주소</th>
      <th>상표</th>
      <th>셀프여부</th>
      <th>고급휘발유</th>
      <th>휘발유</th>
      <th>경유</th>
      <th>실내등유</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>A0009645</td>
      <td>2020년</td>
      <td>01월</td>
      <td>서울</td>
      <td>강북구</td>
      <td>대성석유(주)신광주유소</td>
      <td>서울 강북구 삼양로 484</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>NaN</td>
      <td>1,545.13</td>
      <td>1,427.06</td>
      <td>1,150.00</td>
    </tr>
    <tr>
      <th>1</th>
      <td>A0000725</td>
      <td>2020년</td>
      <td>01월</td>
      <td>서울</td>
      <td>은평구</td>
      <td>불광주유소</td>
      <td>서울 은평구 연서로 314 (불광동)</td>
      <td>현대오일뱅크</td>
      <td>셀프</td>
      <td>NaN</td>
      <td>1,545.10</td>
      <td>1,385.10</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A0000833</td>
      <td>2020년</td>
      <td>01월</td>
      <td>서울</td>
      <td>구로구</td>
      <td>SK구로주유소</td>
      <td>서울 구로구 구일로 94 (구로동)</td>
      <td>SK에너지</td>
      <td>일반</td>
      <td>NaN</td>
      <td>1,587.03</td>
      <td>1,436.71</td>
      <td>1,210.00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>A0000908</td>
      <td>2020년</td>
      <td>01월</td>
      <td>서울</td>
      <td>서초구</td>
      <td>지에스칼텍스(주)남서울주유소</td>
      <td>서울 서초구 나루터로 83 (잠원동)</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>1,799.00</td>
      <td>1,647.00</td>
      <td>1,497.00</td>
      <td>1,155.00</td>
    </tr>
    <tr>
      <th>4</th>
      <td>A0000812</td>
      <td>2020년</td>
      <td>01월</td>
      <td>서울</td>
      <td>구로구</td>
      <td>SK에너지(주)직영 개봉동주유소</td>
      <td>서울 구로구 경인로 290 (개봉동)</td>
      <td>SK에너지</td>
      <td>일반</td>
      <td>NaN</td>
      <td>1,589.90</td>
      <td>1,419.90</td>
      <td>1,088.71</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df = pd.read_csv('유가정보.csv')
df.head()
</code></pre></span></div></details>

- 행과 열의 개수를 tuple 형식으로 출력하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><pre>(17116, 13)</pre>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.shape
</code></pre></span></div></details>

- 각 열(column)별 **결측치** 의 합계를 출력하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><pre>번호           0
연도           0
월            0
시도           0
구            0
상호           0
주소           0
상표           0
셀프여부         0
고급휘발유     8975
휘발유          0
경유           0
실내등유     10556
dtype: int64</pre>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.isnull().sum()
</code></pre></span></div></details>

- **상표** 의 데이터 분포(빈도수)를 출력하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><pre>SK에너지     5251
GS칼텍스     4383
현대오일뱅크    4151
S-OIL     2828
알뜰주유소      387
자가상표        80
알뜰(ex)      36
Name: 상표, dtype: int64</pre>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df['상표'].value_counts()
</code></pre></span></div></details>

- 주유소가 가장 많이 존재하는 **구** 를 출력하세요
- 내림차순으로 정렬 후 **상위 10개** 를 출력하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><pre>구
강남구     1322
서초구     1220
강서구     1185
송파구     1154
영등포구    1040
양천구      920
성북구      856
구로구      773
동대문구     721
도봉구      629
Name: 상호, dtype: int64</pre>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.groupby('구')['상호'].count().sort_values(ascending=False).head(10)
</code></pre></span></div></details>

- `GS칼텍스` 의 **구** 별 **상호** 의 개수를 구하고 내림차순으로 정렬하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><pre>구
서초구     472
강남구     382
송파구     333
영등포구    321
강서구     252
성북구     246
은평구     216
노원구     216
강동구     180
양천구     180
동대문구    149
중랑구     139
구로구     136
광진구     132
용산구     122
관악구     117
도봉구     108
성동구     108
강북구     108
동작구     102
중구       91
서대문구     83
금천구      82
종로구      72
마포구      36
Name: 상호, dtype: int64</pre>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.loc[(df['상표'] == 'GS칼텍스')].groupby('구')['상호'].count().sort_values(ascending=False)
</code></pre></span></div></details>

- **고급휘발유, 휘발유, 경유** 가격의 **평균(mean)** 과 **표준편차(std)** 을 출력하세요.
- hint. `agg()`

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>고급휘발유</th>
      <th>휘발유</th>
      <th>경유</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>mean</th>
      <td>1,943.49</td>
      <td>1,667.05</td>
      <td>1,545.87</td>
    </tr>
    <tr>
      <th>std</th>
      <td>284.56</td>
      <td>257.91</td>
      <td>327.09</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df[['고급휘발유', '휘발유', '경유']].agg(['mean', 'std'])
</code></pre></span></div></details>

- **상표** , **셀프여부** 별 **평균 휘발유** 가격 비교를 위한 피벗테이블을 생성하세요.
- **셀프** 주유소의 **휘발유** 가격을 기준으로 내림차순 정렬 하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th>셀프여부</th>
      <th>셀프</th>
      <th>일반</th>
    </tr>
    <tr>
      <th>상표</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>자가상표</th>
      <td>1,729.00</td>
      <td>1,616.51</td>
    </tr>
    <tr>
      <th>S-OIL</th>
      <td>1,614.02</td>
      <td>1,706.21</td>
    </tr>
    <tr>
      <th>SK에너지</th>
      <td>1,612.13</td>
      <td>1,792.35</td>
    </tr>
    <tr>
      <th>현대오일뱅크</th>
      <td>1,609.24</td>
      <td>1,691.86</td>
    </tr>
    <tr>
      <th>GS칼텍스</th>
      <td>1,601.72</td>
      <td>1,771.15</td>
    </tr>
    <tr>
      <th>알뜰주유소</th>
      <td>1,576.06</td>
      <td>1,523.90</td>
    </tr>
    <tr>
      <th>알뜰(ex)</th>
      <td>1,545.99</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.pivot_table(index='상표', columns=['셀프여부'], values='휘발유', aggfunc='mean').sort_values('셀프', ascending=False)
</code></pre></span></div></details>

- **상표** 가 `GS칼텍스` 인 데이터 중에서,
- **2021년** 데이터를 필터링 한 뒤,
- **휘발유** 가격을 기준으로 **내림차순**
- **휘발유** 가격이 동일할 때, **경유** 가격은 **오름차순** 정렬하세요.
- 상위 **10개** 만 출력하세요. 
- hint. `loc`, `sort_values()`

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>번호</th>
      <th>연도</th>
      <th>월</th>
      <th>시도</th>
      <th>구</th>
      <th>상호</th>
      <th>주소</th>
      <th>상표</th>
      <th>셀프여부</th>
      <th>고급휘발유</th>
      <th>휘발유</th>
      <th>경유</th>
      <th>실내등유</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10864</th>
      <td>A0000925</td>
      <td>2021년</td>
      <td>11월</td>
      <td>서울</td>
      <td>용산구</td>
      <td>서계주유소</td>
      <td>서울 용산구  청파로 367 (청파동)</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>2,873.67</td>
      <td>2,559.47</td>
      <td>2,359.53</td>
      <td>1,866.00</td>
    </tr>
    <tr>
      <th>10451</th>
      <td>A0000925</td>
      <td>2021년</td>
      <td>10월</td>
      <td>서울</td>
      <td>용산구</td>
      <td>서계주유소</td>
      <td>서울 용산구  청파로 367 (청파동)</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>2,822.81</td>
      <td>2,533.81</td>
      <td>2,333.81</td>
      <td>1,818.71</td>
    </tr>
    <tr>
      <th>9722</th>
      <td>A0000925</td>
      <td>2021년</td>
      <td>08월</td>
      <td>서울</td>
      <td>용산구</td>
      <td>서계주유소</td>
      <td>서울 용산구  청파로 367 (청파동)</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>2,742.00</td>
      <td>2,453.00</td>
      <td>2,253.00</td>
      <td>1,726.00</td>
    </tr>
    <tr>
      <th>9857</th>
      <td>A0000925</td>
      <td>2021년</td>
      <td>09월</td>
      <td>서울</td>
      <td>용산구</td>
      <td>서계주유소</td>
      <td>서울 용산구  청파로 367 (청파동)</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>2,742.00</td>
      <td>2,453.00</td>
      <td>2,253.00</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>8967</th>
      <td>A0000925</td>
      <td>2021년</td>
      <td>07월</td>
      <td>서울</td>
      <td>용산구</td>
      <td>서계주유소</td>
      <td>서울 용산구  청파로 367 (청파동)</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>2,735.03</td>
      <td>2,446.03</td>
      <td>2,246.03</td>
      <td>1,720.43</td>
    </tr>
    <tr>
      <th>11621</th>
      <td>A0000925</td>
      <td>2021년</td>
      <td>12월</td>
      <td>서울</td>
      <td>용산구</td>
      <td>서계주유소</td>
      <td>서울 용산구  청파로 367 (청파동)</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>2,899.42</td>
      <td>2,405.39</td>
      <td>2,270.87</td>
      <td>1,866.00</td>
    </tr>
    <tr>
      <th>10536</th>
      <td>A0009047</td>
      <td>2021년</td>
      <td>10월</td>
      <td>서울</td>
      <td>중구</td>
      <td>필동주유소</td>
      <td>서울 중구 퇴계로 196 (필동2가)</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>2,702.23</td>
      <td>2,402.23</td>
      <td>2,251.26</td>
      <td>1,619.97</td>
    </tr>
    <tr>
      <th>8429</th>
      <td>A0000925</td>
      <td>2021년</td>
      <td>06월</td>
      <td>서울</td>
      <td>용산구</td>
      <td>서계주유소</td>
      <td>서울 용산구  청파로 367 (청파동)</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>2,688.40</td>
      <td>2,399.90</td>
      <td>2,199.90</td>
      <td>1,669.50</td>
    </tr>
    <tr>
      <th>8229</th>
      <td>A0000925</td>
      <td>2021년</td>
      <td>05월</td>
      <td>서울</td>
      <td>용산구</td>
      <td>서계주유소</td>
      <td>서울 용산구  청파로 367 (청파동)</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>2,640.58</td>
      <td>2,351.58</td>
      <td>2,151.58</td>
      <td>1,614.73</td>
    </tr>
    <tr>
      <th>10942</th>
      <td>A0009047</td>
      <td>2021년</td>
      <td>11월</td>
      <td>서울</td>
      <td>중구</td>
      <td>필동주유소</td>
      <td>서울 중구 퇴계로 196 (필동2가)</td>
      <td>GS칼텍스</td>
      <td>일반</td>
      <td>2,648.67</td>
      <td>2,348.67</td>
      <td>2,201.67</td>
      <td>1,634.67</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.loc[(df['상표'] == 'GS칼텍스') & (df['연도'] == '2021년')]\
.sort_values(['휘발유', '경유'], ascending=[False, True]).head(10)
</code></pre></span></div></details>

- **상표** 가 `GS칼텍스` 인 데이터 중에서
- **2022년** 데이터를 필터링 한 뒤,
- **구** 별 평균 **휘발유** 가격이 가장 높은 주유소의 상호를 출력 하세요
- hint. `first() 는 가장 첫 번째 행을 가져옵니다`

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>상호</th>
      <th>고급휘발유</th>
      <th>휘발유</th>
      <th>경유</th>
      <th>실내등유</th>
    </tr>
    <tr>
      <th>구</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>강남구</th>
      <td>(주)만정에너지 삼보주유소</td>
      <td>2,757.78</td>
      <td>2,523.60</td>
      <td>2,428.30</td>
      <td>1,779.92</td>
    </tr>
    <tr>
      <th>강동구</th>
      <td>(주)소모에너지 성내주유소</td>
      <td>2,087.43</td>
      <td>1,972.83</td>
      <td>1,965.77</td>
      <td>1,701.85</td>
    </tr>
    <tr>
      <th>강북구</th>
      <td>대성석유(주)신광주유소</td>
      <td>1,994.15</td>
      <td>1,813.45</td>
      <td>1,843.00</td>
      <td>1,593.02</td>
    </tr>
    <tr>
      <th>강서구</th>
      <td>박물관주유소</td>
      <td>2,148.70</td>
      <td>1,902.37</td>
      <td>1,921.77</td>
      <td>1,148.00</td>
    </tr>
    <tr>
      <th>관악구</th>
      <td>CJ대한통운㈜ 신림주유소</td>
      <td>2,031.88</td>
      <td>1,936.80</td>
      <td>1,965.89</td>
      <td>1,527.29</td>
    </tr>
    <tr>
      <th>광진구</th>
      <td>대성산업(주)구의주유소</td>
      <td>NaN</td>
      <td>1,859.61</td>
      <td>1,716.82</td>
      <td>1,277.12</td>
    </tr>
    <tr>
      <th>구로구</th>
      <td>구로주유소</td>
      <td>2,017.88</td>
      <td>2,366.70</td>
      <td>2,368.80</td>
      <td>1,703.64</td>
    </tr>
    <tr>
      <th>금천구</th>
      <td>지에스칼텍스(주)일신주유소</td>
      <td>1,978.42</td>
      <td>1,817.77</td>
      <td>1,872.77</td>
      <td>1,489.67</td>
    </tr>
    <tr>
      <th>노원구</th>
      <td>하계삼호주유소</td>
      <td>2,087.59</td>
      <td>1,952.50</td>
      <td>1,987.66</td>
      <td>1,576.13</td>
    </tr>
    <tr>
      <th>도봉구</th>
      <td>지에스칼텍스㈜ 방학동주유소</td>
      <td>2,009.48</td>
      <td>1,809.37</td>
      <td>1,848.29</td>
      <td>1,495.69</td>
    </tr>
    <tr>
      <th>동대문구</th>
      <td>(주)파랑에너지</td>
      <td>2,011.42</td>
      <td>1,817.67</td>
      <td>1,848.51</td>
      <td>1,471.25</td>
    </tr>
    <tr>
      <th>동작구</th>
      <td>대성산업(주) 노량진주유소</td>
      <td>1,816.48</td>
      <td>1,922.54</td>
      <td>1,837.56</td>
      <td>1,380.57</td>
    </tr>
    <tr>
      <th>마포구</th>
      <td>마포시엠주유소</td>
      <td>NaN</td>
      <td>1,832.94</td>
      <td>1,851.17</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>서대문구</th>
      <td>지에스칼텍스(주)홍제동주유소</td>
      <td>2,019.87</td>
      <td>1,819.69</td>
      <td>1,851.61</td>
      <td>1,651.83</td>
    </tr>
    <tr>
      <th>서초구</th>
      <td>헌릉로주유소</td>
      <td>2,147.20</td>
      <td>1,995.42</td>
      <td>1,961.89</td>
      <td>1,676.08</td>
    </tr>
    <tr>
      <th>성동구</th>
      <td>(주)옥수하이웨이스테이션</td>
      <td>2,425.79</td>
      <td>2,217.05</td>
      <td>2,211.10</td>
      <td>1,758.72</td>
    </tr>
    <tr>
      <th>성북구</th>
      <td>동일주유소</td>
      <td>2,055.28</td>
      <td>1,948.69</td>
      <td>1,860.39</td>
      <td>1,688.81</td>
    </tr>
    <tr>
      <th>송파구</th>
      <td>(주)남경석유 세영주유소</td>
      <td>2,096.32</td>
      <td>1,956.75</td>
      <td>1,873.66</td>
      <td>1,653.95</td>
    </tr>
    <tr>
      <th>양천구</th>
      <td>(주)삼표에너지 목동주유소</td>
      <td>1,992.79</td>
      <td>1,803.61</td>
      <td>1,839.15</td>
      <td>1,489.64</td>
    </tr>
    <tr>
      <th>영등포구</th>
      <td>현대오일뱅크(주)직영 국회대로주유소</td>
      <td>2,446.72</td>
      <td>2,285.29</td>
      <td>2,298.09</td>
      <td>1,669.88</td>
    </tr>
    <tr>
      <th>용산구</th>
      <td>서계주유소</td>
      <td>3,179.97</td>
      <td>2,718.31</td>
      <td>2,797.91</td>
      <td>2,252.93</td>
    </tr>
    <tr>
      <th>은평구</th>
      <td>성원이앤에스(주)은평지점</td>
      <td>2,058.08</td>
      <td>1,827.54</td>
      <td>1,851.35</td>
      <td>1,200.00</td>
    </tr>
    <tr>
      <th>종로구</th>
      <td>(주)대양씨앤씨 사직주유소</td>
      <td>2,546.25</td>
      <td>2,345.56</td>
      <td>2,327.10</td>
      <td>1,664.51</td>
    </tr>
    <tr>
      <th>중구</th>
      <td>필동주유소</td>
      <td>2,757.73</td>
      <td>2,497.76</td>
      <td>2,553.96</td>
      <td>2,001.57</td>
    </tr>
    <tr>
      <th>중랑구</th>
      <td>우림주유소</td>
      <td>1,988.48</td>
      <td>1,787.01</td>
      <td>1,818.00</td>
      <td>1,525.38</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.loc[(df['상표'] == 'GS칼텍스') & (df['연도'] == '2022년')].groupby(['구', '상호']).mean()\
.sort_values('휘발유', ascending=False).reset_index().groupby('구').first()
</code></pre></span></div></details>

- **상표** 가 `GS칼텍스` 인 데이터 중에서,
- **2021년** 데이터를 필터링한 후,
- **경유** 가격의 하위 10%(0.1) 가격을 출력하세요
- hint. `loc`, `quantile()`

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><pre>1289.3039999999999</pre>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>cond1 = (df['상표'] == 'GS칼텍스')
cond2 = (df['연도'] == '2021년')
df.loc[cond1 & cond2, '경유'].quantile(0.1)
</code></pre></span></div></details>

- **상표** 가 `GS칼텍스` 인 데이터 중에서,
- **2022년** 데이터를 필터링한 후,
- **월** 별 **고급휘발유** 가격의 평균을 출력하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>고급휘발유</th>
    </tr>
    <tr>
      <th>월</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>01월</th>
      <td>1,944.59</td>
    </tr>
    <tr>
      <th>02월</th>
      <td>2,010.73</td>
    </tr>
    <tr>
      <th>03월</th>
      <td>2,231.55</td>
    </tr>
    <tr>
      <th>04월</th>
      <td>2,268.46</td>
    </tr>
    <tr>
      <th>05월</th>
      <td>2,255.58</td>
    </tr>
    <tr>
      <th>06월</th>
      <td>2,382.81</td>
    </tr>
    <tr>
      <th>07월</th>
      <td>2,330.14</td>
    </tr>
    <tr>
      <th>08월</th>
      <td>2,131.46</td>
    </tr>
    <tr>
      <th>09월</th>
      <td>2,063.77</td>
    </tr>
    <tr>
      <th>10월</th>
      <td>2,016.16</td>
    </tr>
    <tr>
      <th>11월</th>
      <td>2,000.76</td>
    </tr>
    <tr>
      <th>12월</th>
      <td>1,936.70</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>cond1 = (df['상표'] == 'GS칼텍스')
cond2 = (df['연도'] == '2022년')
df.loc[cond1 & cond2].groupby('월')[['고급휘발유']].mean()
</code></pre></span></div></details>

- **강남 3구** 는 **강남구**, **서초구**, **송파구** 를 의미합니다.
- **강남 3구** 의 **고급휘발유, 휘발유, 경유** 가격의 **평균** 값을 산출하세요.

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><pre>고급휘발유   1,921.66
휘발유     1,707.29
경유      1,584.35
dtype: float64</pre>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.loc[df['구'].isin(['강남구', '서초구', '송파구']), ['고급휘발유', '휘발유', '경유']].mean()
</code></pre></span></div></details>

- **셀프 주유소**와 **일반 주유소** 의 평균 가격차이를 확인하고자 합니다.
- **휘발유, 경유, 고급휘발유** 의 가격차이를 다음과 같이 출력하세요.
- `groupby()`

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>휘발유</th>
      <th>경유</th>
      <th>고급휘발유</th>
    </tr>
    <tr>
      <th>셀프여부</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>셀프</th>
      <td>1,608.20</td>
      <td>1,489.94</td>
      <td>1,842.09</td>
    </tr>
    <tr>
      <th>일반</th>
      <td>1,743.34</td>
      <td>1,618.38</td>
      <td>2,055.56</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.groupby('셀프여부')[['휘발유', '경유', '고급휘발유']].mean()
</code></pre></span></div></details>

- `번호` 컬럼은 주유소별 부여된 고유값입니다. 
- `df` 데이터에 몇 개의 고유 **번호**가 있는지 구하세요
- hint. `nunique()`

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><pre>501</pre>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df['번호'].nunique()
</code></pre></span></div></details>

- 휘발유 가격 변동이 가장 큰 주유소 상위 10개를 출력 하세요
- hint. 분산, 표준편차

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>고급휘발유</th>
      <th>휘발유</th>
      <th>경유</th>
      <th>실내등유</th>
    </tr>
    <tr>
      <th>상호</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>양재최고주유소</th>
      <td>NaN</td>
      <td>401.97</td>
      <td>446.32</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>지에스칼텍스㈜ 삼성로주유소</th>
      <td>285.30</td>
      <td>290.41</td>
      <td>355.35</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>서계주유소</th>
      <td>343.00</td>
      <td>286.24</td>
      <td>384.44</td>
      <td>370.97</td>
    </tr>
    <tr>
      <th>(주)만정에너지 삼보주유소</th>
      <td>289.08</td>
      <td>278.75</td>
      <td>341.39</td>
      <td>206.22</td>
    </tr>
    <tr>
      <th>지에스칼텍스㈜ 주성주유소</th>
      <td>267.63</td>
      <td>270.87</td>
      <td>263.12</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>광성주유소</th>
      <td>NaN</td>
      <td>270.06</td>
      <td>359.10</td>
      <td>320.70</td>
    </tr>
    <tr>
      <th>(주)소모 수락산셀프주유소</th>
      <td>NaN</td>
      <td>268.30</td>
      <td>323.26</td>
      <td>256.32</td>
    </tr>
    <tr>
      <th>지에스칼텍스㈜ 은마주유소</th>
      <td>265.02</td>
      <td>265.55</td>
      <td>329.66</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>JHC에너지</th>
      <td>NaN</td>
      <td>264.04</td>
      <td>344.62</td>
      <td>0.00</td>
    </tr>
    <tr>
      <th>동일주유소</th>
      <td>201.20</td>
      <td>257.33</td>
      <td>327.49</td>
      <td>209.23</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.groupby('상호').std().sort_values('휘발유', ascending=False).head(10)
</code></pre></span></div></details>

이전에 구한 **"휘발유 가격 변동이 가장 큰 10개 주유소"** 의 최소 가격과 최대 가격을 출력 하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>min</th>
      <th>max</th>
    </tr>
    <tr>
      <th>상호</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>(주)만정에너지 삼보주유소</th>
      <td>1,790.55</td>
      <td>2,612.00</td>
    </tr>
    <tr>
      <th>(주)소모 수락산셀프주유소</th>
      <td>1,279.32</td>
      <td>2,245.00</td>
    </tr>
    <tr>
      <th>JHC에너지</th>
      <td>1,254.74</td>
      <td>2,299.00</td>
    </tr>
    <tr>
      <th>광성주유소</th>
      <td>1,431.87</td>
      <td>2,317.00</td>
    </tr>
    <tr>
      <th>동일주유소</th>
      <td>1,279.03</td>
      <td>2,378.32</td>
    </tr>
    <tr>
      <th>서계주유소</th>
      <td>2,059.00</td>
      <td>2,971.50</td>
    </tr>
    <tr>
      <th>양재최고주유소</th>
      <td>1,278.23</td>
      <td>2,528.33</td>
    </tr>
    <tr>
      <th>지에스칼텍스㈜ 삼성로주유소</th>
      <td>1,363.23</td>
      <td>2,389.97</td>
    </tr>
    <tr>
      <th>지에스칼텍스㈜ 은마주유소</th>
      <td>1,355.00</td>
      <td>2,311.93</td>
    </tr>
    <tr>
      <th>지에스칼텍스㈜ 주성주유소</th>
      <td>1,355.00</td>
      <td>2,115.06</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>cond = df['상호'].isin(df.groupby('상호').std().sort_values('휘발유', ascending=False).head(10).index)
df.loc[cond].groupby('상호')['휘발유'].agg(['min', 'max'])
</code></pre></span></div></details>

- **구** 별 **연도** 별 **평균 휘발유** 가격을 피벗테이블로 생성하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th>연도</th>
      <th>2020년</th>
      <th>2021년</th>
      <th>2022년</th>
    </tr>
    <tr>
      <th>구</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>강남구</th>
      <td>1,601.45</td>
      <td>1,793.01</td>
      <td>2,028.31</td>
    </tr>
    <tr>
      <th>강동구</th>
      <td>1,483.32</td>
      <td>1,706.07</td>
      <td>1,913.20</td>
    </tr>
    <tr>
      <th>강북구</th>
      <td>1,358.06</td>
      <td>1,571.34</td>
      <td>1,788.41</td>
    </tr>
    <tr>
      <th>강서구</th>
      <td>1,407.98</td>
      <td>1,622.36</td>
      <td>1,830.66</td>
    </tr>
    <tr>
      <th>관악구</th>
      <td>1,440.76</td>
      <td>1,640.43</td>
      <td>1,854.71</td>
    </tr>
    <tr>
      <th>광진구</th>
      <td>1,397.08</td>
      <td>1,609.57</td>
      <td>1,821.06</td>
    </tr>
    <tr>
      <th>구로구</th>
      <td>1,429.09</td>
      <td>1,630.17</td>
      <td>1,864.13</td>
    </tr>
    <tr>
      <th>금천구</th>
      <td>1,390.48</td>
      <td>1,595.43</td>
      <td>1,803.83</td>
    </tr>
    <tr>
      <th>노원구</th>
      <td>1,434.36</td>
      <td>1,640.62</td>
      <td>1,845.93</td>
    </tr>
    <tr>
      <th>도봉구</th>
      <td>1,378.40</td>
      <td>1,582.69</td>
      <td>1,801.45</td>
    </tr>
    <tr>
      <th>동대문구</th>
      <td>1,408.67</td>
      <td>1,609.16</td>
      <td>1,826.00</td>
    </tr>
    <tr>
      <th>동작구</th>
      <td>1,430.10</td>
      <td>1,634.93</td>
      <td>1,850.62</td>
    </tr>
    <tr>
      <th>마포구</th>
      <td>1,533.33</td>
      <td>1,700.32</td>
      <td>1,880.76</td>
    </tr>
    <tr>
      <th>서대문구</th>
      <td>1,413.30</td>
      <td>1,602.65</td>
      <td>1,820.07</td>
    </tr>
    <tr>
      <th>서초구</th>
      <td>1,490.59</td>
      <td>1,678.58</td>
      <td>1,909.80</td>
    </tr>
    <tr>
      <th>성동구</th>
      <td>1,492.69</td>
      <td>1,697.91</td>
      <td>1,926.85</td>
    </tr>
    <tr>
      <th>성북구</th>
      <td>1,362.38</td>
      <td>1,588.85</td>
      <td>1,806.81</td>
    </tr>
    <tr>
      <th>송파구</th>
      <td>1,423.96</td>
      <td>1,629.95</td>
      <td>1,846.94</td>
    </tr>
    <tr>
      <th>양천구</th>
      <td>1,401.76</td>
      <td>1,608.37</td>
      <td>1,802.83</td>
    </tr>
    <tr>
      <th>영등포구</th>
      <td>1,497.84</td>
      <td>1,670.07</td>
      <td>1,868.14</td>
    </tr>
    <tr>
      <th>용산구</th>
      <td>1,858.93</td>
      <td>2,006.85</td>
      <td>2,217.87</td>
    </tr>
    <tr>
      <th>은평구</th>
      <td>1,382.62</td>
      <td>1,599.32</td>
      <td>1,823.40</td>
    </tr>
    <tr>
      <th>종로구</th>
      <td>1,746.08</td>
      <td>1,900.61</td>
      <td>2,129.84</td>
    </tr>
    <tr>
      <th>중구</th>
      <td>1,904.91</td>
      <td>2,044.75</td>
      <td>2,166.42</td>
    </tr>
    <tr>
      <th>중랑구</th>
      <td>1,370.67</td>
      <td>1,586.23</td>
      <td>1,806.03</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.pivot_table(index='구', columns='연도', values='휘발유')
</code></pre></span></div></details>

- `GS칼텍스` 의 **구** 별 **연도** 별 **평균 휘발유** 가격을 피벗테이블로 생성하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th>연도</th>
      <th>2020년</th>
      <th>2021년</th>
      <th>2022년</th>
    </tr>
    <tr>
      <th>구</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>강남구</th>
      <td>1,606.32</td>
      <td>1,834.76</td>
      <td>2,101.45</td>
    </tr>
    <tr>
      <th>강동구</th>
      <td>1,463.95</td>
      <td>1,683.90</td>
      <td>1,899.83</td>
    </tr>
    <tr>
      <th>강북구</th>
      <td>1,353.26</td>
      <td>1,568.71</td>
      <td>1,792.69</td>
    </tr>
    <tr>
      <th>강서구</th>
      <td>1,418.65</td>
      <td>1,634.92</td>
      <td>1,844.38</td>
    </tr>
    <tr>
      <th>관악구</th>
      <td>1,450.45</td>
      <td>1,660.12</td>
      <td>1,880.28</td>
    </tr>
    <tr>
      <th>광진구</th>
      <td>1,409.87</td>
      <td>1,609.73</td>
      <td>1,827.22</td>
    </tr>
    <tr>
      <th>구로구</th>
      <td>1,522.53</td>
      <td>1,720.14</td>
      <td>1,973.97</td>
    </tr>
    <tr>
      <th>금천구</th>
      <td>1,382.32</td>
      <td>1,602.63</td>
      <td>1,807.77</td>
    </tr>
    <tr>
      <th>노원구</th>
      <td>1,420.48</td>
      <td>1,651.42</td>
      <td>1,865.87</td>
    </tr>
    <tr>
      <th>도봉구</th>
      <td>1,373.92</td>
      <td>1,588.85</td>
      <td>1,806.94</td>
    </tr>
    <tr>
      <th>동대문구</th>
      <td>1,385.48</td>
      <td>1,596.69</td>
      <td>1,807.11</td>
    </tr>
    <tr>
      <th>동작구</th>
      <td>1,414.22</td>
      <td>1,625.47</td>
      <td>1,837.06</td>
    </tr>
    <tr>
      <th>마포구</th>
      <td>1,439.49</td>
      <td>1,645.48</td>
      <td>1,832.94</td>
    </tr>
    <tr>
      <th>서대문구</th>
      <td>1,392.39</td>
      <td>1,600.74</td>
      <td>1,816.37</td>
    </tr>
    <tr>
      <th>서초구</th>
      <td>1,448.69</td>
      <td>1,640.62</td>
      <td>1,870.25</td>
    </tr>
    <tr>
      <th>성동구</th>
      <td>1,604.83</td>
      <td>1,783.15</td>
      <td>2,039.58</td>
    </tr>
    <tr>
      <th>성북구</th>
      <td>1,362.02</td>
      <td>1,602.17</td>
      <td>1,824.97</td>
    </tr>
    <tr>
      <th>송파구</th>
      <td>1,414.92</td>
      <td>1,621.65</td>
      <td>1,847.92</td>
    </tr>
    <tr>
      <th>양천구</th>
      <td>1,365.84</td>
      <td>1,579.70</td>
      <td>1,786.59</td>
    </tr>
    <tr>
      <th>영등포구</th>
      <td>1,538.66</td>
      <td>1,714.85</td>
      <td>1,922.43</td>
    </tr>
    <tr>
      <th>용산구</th>
      <td>1,806.44</td>
      <td>2,024.24</td>
      <td>2,379.78</td>
    </tr>
    <tr>
      <th>은평구</th>
      <td>1,378.81</td>
      <td>1,597.65</td>
      <td>1,816.23</td>
    </tr>
    <tr>
      <th>종로구</th>
      <td>2,024.47</td>
      <td>2,111.63</td>
      <td>2,339.03</td>
    </tr>
    <tr>
      <th>중구</th>
      <td>2,038.51</td>
      <td>2,213.25</td>
      <td>2,422.03</td>
    </tr>
    <tr>
      <th>중랑구</th>
      <td>1,361.11</td>
      <td>1,560.07</td>
      <td>1,784.23</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.loc[df['상표'] == 'GS칼텍스'].pivot_table(index='구', columns='연도', values='휘발유')
</code></pre></span></div></details>

- 평균 **고급휘발유** 가격이 제일 높은 `구`를 확인하고자 합니다.
- `구` 별 평균 **휘발유, 경유, 고급휘발유** 가격을 산출한 후 **평균 고급휘발유** 가격을 기준으로 내림차순 정렬하세요
- 상위 10개의 데이터만 출력하세요.

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>휘발유</th>
      <th>경유</th>
      <th>고급휘발유</th>
    </tr>
    <tr>
      <th>구</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>중구</th>
      <td>2,031.98</td>
      <td>1,917.13</td>
      <td>2,307.28</td>
    </tr>
    <tr>
      <th>용산구</th>
      <td>2,022.71</td>
      <td>1,917.53</td>
      <td>2,299.29</td>
    </tr>
    <tr>
      <th>종로구</th>
      <td>1,919.12</td>
      <td>1,791.65</td>
      <td>2,182.73</td>
    </tr>
    <tr>
      <th>강남구</th>
      <td>1,796.59</td>
      <td>1,667.14</td>
      <td>2,009.16</td>
    </tr>
    <tr>
      <th>영등포구</th>
      <td>1,669.18</td>
      <td>1,552.65</td>
      <td>1,979.47</td>
    </tr>
    <tr>
      <th>마포구</th>
      <td>1,706.01</td>
      <td>1,594.90</td>
      <td>1,972.88</td>
    </tr>
    <tr>
      <th>성동구</th>
      <td>1,704.70</td>
      <td>1,582.16</td>
      <td>1,967.66</td>
    </tr>
    <tr>
      <th>강동구</th>
      <td>1,691.98</td>
      <td>1,563.71</td>
      <td>1,889.69</td>
    </tr>
    <tr>
      <th>서초구</th>
      <td>1,684.20</td>
      <td>1,565.29</td>
      <td>1,888.33</td>
    </tr>
    <tr>
      <th>관악구</th>
      <td>1,635.80</td>
      <td>1,517.47</td>
      <td>1,886.23</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.groupby('구')[['휘발유', '경유', '고급휘발유']].mean().sort_values('고급휘발유', ascending=False).head(10)
</code></pre></span></div></details>

- **상표** 별 평균 **휘발유, 경유, 고급휘발유** 가격을 출력하세요
- **상표** 별 평균 **경유** 가격을 기준으로 내림차순 정렬 하세요
- hint. `groupby()`, `sort_values()`

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>휘발유</th>
      <th>경유</th>
      <th>고급휘발유</th>
    </tr>
    <tr>
      <th>상표</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>SK에너지</th>
      <td>1,697.66</td>
      <td>1,575.06</td>
      <td>2,013.21</td>
    </tr>
    <tr>
      <th>GS칼텍스</th>
      <td>1,677.49</td>
      <td>1,555.04</td>
      <td>1,917.76</td>
    </tr>
    <tr>
      <th>S-OIL</th>
      <td>1,645.80</td>
      <td>1,525.85</td>
      <td>1,915.20</td>
    </tr>
    <tr>
      <th>현대오일뱅크</th>
      <td>1,644.47</td>
      <td>1,525.50</td>
      <td>1,907.89</td>
    </tr>
    <tr>
      <th>자가상표</th>
      <td>1,622.14</td>
      <td>1,501.60</td>
      <td>1,845.00</td>
    </tr>
    <tr>
      <th>알뜰주유소</th>
      <td>1,551.67</td>
      <td>1,431.04</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>알뜰(ex)</th>
      <td>1,545.99</td>
      <td>1,427.15</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.groupby('상표')[['휘발유', '경유', '고급휘발유']].mean().sort_values('경유', ascending=False)
</code></pre></span></div></details>

- **연도** 별, **상표** 별 **고급휘발유**, **휘발유**, **경유**가격의 평균을 출력하세요
- hint. `groupby()`

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>고급휘발유</th>
      <th>휘발유</th>
      <th>경유</th>
    </tr>
    <tr>
      <th>연도</th>
      <th>상표</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="7" valign="top">2020년</th>
      <th>GS칼텍스</th>
      <td>1,723.51</td>
      <td>1,480.08</td>
      <td>1,299.93</td>
    </tr>
    <tr>
      <th>S-OIL</th>
      <td>1,736.61</td>
      <td>1,434.65</td>
      <td>1,244.06</td>
    </tr>
    <tr>
      <th>SK에너지</th>
      <td>1,859.20</td>
      <td>1,517.49</td>
      <td>1,337.06</td>
    </tr>
    <tr>
      <th>알뜰(ex)</th>
      <td>NaN</td>
      <td>1,330.24</td>
      <td>1,136.86</td>
    </tr>
    <tr>
      <th>알뜰주유소</th>
      <td>NaN</td>
      <td>1,355.22</td>
      <td>1,161.24</td>
    </tr>
    <tr>
      <th>자가상표</th>
      <td>NaN</td>
      <td>1,414.06</td>
      <td>1,229.99</td>
    </tr>
    <tr>
      <th>현대오일뱅크</th>
      <td>1,693.92</td>
      <td>1,427.58</td>
      <td>1,239.47</td>
    </tr>
    <tr>
      <th rowspan="7" valign="top">2021년</th>
      <th>GS칼텍스</th>
      <td>1,895.70</td>
      <td>1,682.39</td>
      <td>1,486.29</td>
    </tr>
    <tr>
      <th>S-OIL</th>
      <td>1,888.56</td>
      <td>1,640.83</td>
      <td>1,443.23</td>
    </tr>
    <tr>
      <th>SK에너지</th>
      <td>2,006.10</td>
      <td>1,704.81</td>
      <td>1,508.79</td>
    </tr>
    <tr>
      <th>알뜰(ex)</th>
      <td>NaN</td>
      <td>1,548.16</td>
      <td>1,341.69</td>
    </tr>
    <tr>
      <th>알뜰주유소</th>
      <td>NaN</td>
      <td>1,562.92</td>
      <td>1,366.93</td>
    </tr>
    <tr>
      <th>자가상표</th>
      <td>1,845.00</td>
      <td>1,611.04</td>
      <td>1,411.41</td>
    </tr>
    <tr>
      <th>현대오일뱅크</th>
      <td>1,863.67</td>
      <td>1,638.68</td>
      <td>1,442.98</td>
    </tr>
    <tr>
      <th rowspan="7" valign="top">2022년</th>
      <th>GS칼텍스</th>
      <td>2,131.27</td>
      <td>1,908.57</td>
      <td>1,934.62</td>
    </tr>
    <tr>
      <th>S-OIL</th>
      <td>2,094.36</td>
      <td>1,858.78</td>
      <td>1,885.66</td>
    </tr>
    <tr>
      <th>SK에너지</th>
      <td>2,191.73</td>
      <td>1,911.66</td>
      <td>1,937.90</td>
    </tr>
    <tr>
      <th>알뜰(ex)</th>
      <td>NaN</td>
      <td>1,759.58</td>
      <td>1,802.91</td>
    </tr>
    <tr>
      <th>알뜰주유소</th>
      <td>NaN</td>
      <td>1,770.67</td>
      <td>1,819.48</td>
    </tr>
    <tr>
      <th>자가상표</th>
      <td>NaN</td>
      <td>1,843.53</td>
      <td>1,881.43</td>
    </tr>
    <tr>
      <th>현대오일뱅크</th>
      <td>2,116.85</td>
      <td>1,846.44</td>
      <td>1,870.93</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.groupby(['연도', '상표'])[['고급휘발유','휘발유', '경유']].mean()
</code></pre></span></div></details>

- **성동구** 의 **2022년** 데이터 중,
- **경유** 의 평균 가격과 **휘발유** 의 평균 가격의 차이를 계산하세요.

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><pre>18.933919597990098</pre>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>a = df.loc[(df['연도'] == '2022년') & (df['구'] == '성동구')]
a['경유'].mean() - a['휘발유'].mean()
</code></pre></span></div></details>

- 다음의 피벗테이블을 생성하세요.
- `values` 는 `휘발유` 평균 가격입니다.

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th>상표</th>
      <th>GS칼텍스</th>
      <th>S-OIL</th>
      <th>SK에너지</th>
      <th>알뜰(ex)</th>
      <th>알뜰주유소</th>
      <th>자가상표</th>
      <th>현대오일뱅크</th>
    </tr>
    <tr>
      <th>연도</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2020년</th>
      <td>1,480.08</td>
      <td>1,434.65</td>
      <td>1,517.49</td>
      <td>1,330.24</td>
      <td>1,355.22</td>
      <td>1,414.06</td>
      <td>1,427.58</td>
    </tr>
    <tr>
      <th>2021년</th>
      <td>1,682.39</td>
      <td>1,640.83</td>
      <td>1,704.81</td>
      <td>1,548.16</td>
      <td>1,562.92</td>
      <td>1,611.04</td>
      <td>1,638.68</td>
    </tr>
    <tr>
      <th>2022년</th>
      <td>1,908.57</td>
      <td>1,858.78</td>
      <td>1,911.66</td>
      <td>1,759.58</td>
      <td>1,770.67</td>
      <td>1,843.53</td>
      <td>1,846.44</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.pivot_table(index='연도', columns='상표', values='휘발유')
</code></pre></span></div></details>

- 상호 별 **경유** 가격의 평균을 **내림차순** 정렬하고
- 상위 10개의 상호를 출력하세요

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>상호</th>
      <th>경유</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>서남주유소</td>
      <td>2,361.74</td>
    </tr>
    <tr>
      <th>1</th>
      <td>서계주유소</td>
      <td>2,315.32</td>
    </tr>
    <tr>
      <th>2</th>
      <td>필동주유소</td>
      <td>2,189.68</td>
    </tr>
    <tr>
      <th>3</th>
      <td>SK에너지(주) 퇴계로주유소</td>
      <td>2,072.03</td>
    </tr>
    <tr>
      <th>4</th>
      <td>(주)제이제이네트웍스 제이제이주유소</td>
      <td>2,062.30</td>
    </tr>
    <tr>
      <th>5</th>
      <td>약수주유소</td>
      <td>2,040.35</td>
    </tr>
    <tr>
      <th>6</th>
      <td>에너비스</td>
      <td>2,034.96</td>
    </tr>
    <tr>
      <th>7</th>
      <td>한남지점</td>
      <td>2,034.51</td>
    </tr>
    <tr>
      <th>8</th>
      <td>(주)중앙에너비스 혜화주유소</td>
      <td>2,034.27</td>
    </tr>
    <tr>
      <th>9</th>
      <td>(주)대양씨앤씨 사직주유소</td>
      <td>2,032.66</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df.groupby('상호')['경유'].mean().sort_values(ascending=False).head(10).reset_index()
</code></pre></span></div></details>

- `알뜰(ex)`, `알뜰주유소`, `자가상표` 는 `기타` 상표로 변경후, `상표_clean` 컬럼을 만들어 변경사항을 적용해 주세요.
- `상표_clean`을 기준으로 그룹하여 **휘발유, 경유** 가격의 연도별 **평균** 가격을 출력하세요.
- 출력 결과는 **휘발유** 가격을 기준으로 내림차순 정렬하세요.
- hint. `apply()`, `sort_values()`, `groupby()`

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><div class="output_subarea output_html rendered_html output_result">
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe" style="margin-left: 0; margin-right: 0;">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>휘발유</th>
      <th>경유</th>
    </tr>
    <tr>
      <th>상표_clean</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>SK에너지</th>
      <td>1,697.66</td>
      <td>1,575.06</td>
    </tr>
    <tr>
      <th>GS칼텍스</th>
      <td>1,677.49</td>
      <td>1,555.04</td>
    </tr>
    <tr>
      <th>S-OIL</th>
      <td>1,645.80</td>
      <td>1,525.85</td>
    </tr>
    <tr>
      <th>현대오일뱅크</th>
      <td>1,644.47</td>
      <td>1,525.50</td>
    </tr>
    <tr>
      <th>기타</th>
      <td>1,562.47</td>
      <td>1,441.98</td>
    </tr>
  </tbody>
</table>
</div>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>def convert(x):
    if x in ['알뜰(ex)', '알뜰주유소', '자가상표']:
        return '기타'
    else:
        return x

df['상표_clean'] = df['상표'].apply(convert)
df.groupby('상표_clean')[['휘발유', '경유']].mean().sort_values('휘발유', ascending=False)
</code></pre></span></div></details>

- 현재 `df`는 결측치가 존재합니다.
- 존재하는 결측치를 `구`별 평균 값으로 채워 주세요

(예시)
**고급휘발유** 가격의 결측치는 **구**별 **고급휘발유** 가격의 평균 가격으로 결측치를 채웁니다.

- 결과를 반영후 **고급휘발유**, **휘발유**, **경유**, **실내등유** 의 평균을 출력합니다.

hint. `groupby()`, `apply()`

In [ ]:
# ▼ 코드를 입력해 주세요 ▼ #

<p><strong>[출력 결과]</strong></p><pre>고급휘발유   1,905.65
휘발유     1,667.05
경유      1,545.87
실내등유    1,263.94
dtype: float64</pre>

<details>
<summary>
<b>▼ [정답 확인] ▼</b>
</summary>
<div class="markdown">
<span><pre><code>df['고급휘발유'] = df.groupby('구')['고급휘발유'].apply(lambda x: x.fillna(x.mean()))
df['실내등유'] = df.groupby('구')['실내등유'].apply(lambda x: x.fillna(x.mean()))
df.mean()
</code></pre></span></div></details>